.dot
  color: $secondary-color;
  font-size: 2.3em;
.navbar
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
  background-color: $primary-color;
  a
    text-transform: uppercase;
    text-align: center;
